@font-face {
    font-family: "A4SPEED";
    src: url("/-/fonts/a4speed-bold.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("/-/fonts/inter_24pt-regular.ttf");
}

@font-face {
    font-family: "PilateWide";
    src: url("/-/fonts/pilateWide-regular.ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 900;
    src: url("/-/fonts/inter_18pt-black.ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url("/-/fonts/inter_18pt-bold.ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url("/-/fonts/inter_28pt-medium.ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("/-/fonts/inter_18pt-thin.ttf");
}
